*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.view{
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    /* background-color: rgba(10, 7, 12, 0.575); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigview{
    height: 70%;
    width: 75%;
    background-color: white;
    display: flex;
    gap: 30px;
    
    
}

.viewleft{
    height: 99%;
    width: 40%;
    /* background-color: darkgoldenrod; */
    /* border: 5px solid rgb(6, 9, 48); */
}

/* .viewleft img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

.viewright{
    height: 99%;
    width: 60%;
    background-color: white;
    /* border: 5px solid rgb(6, 9, 48); */
}

.tops{
    height: 30%;
    width: 100%;
    /* background-color: darkgreen; */
    border-bottom: 4px solid rgb(241,241,242);
    gap: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.middles{
    height: 20%;
    width: 100%;
    /* background-color: rgb(100, 93, 0); */
    border-bottom: 4px solid rgb(241,241,242);
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.downs{
    height: 50%;
    width: 100%;
    /* background-color: rgb(0, 10, 100); */
}

.empty{
    color: white;
    font-size: 40px;
    font-family:   sans-serif;
    text-shadow: 8px 4px #4C4B16;
}

.myholder{
    height: 20vh;
    width: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
}

.totalholder{
    min-height: 20vh; 
    width: 70%;
    /* background-color: antiquewhite; */
}

.total{
    text-align: center;
    font-size: 1.0em;
    color: black;
    text-shadow: 2px 4px white;
}

.det{
    /* background-color: blue; */
}

.click{
    border-radius: 5px;
    opacity: 0.9;
}
.onclick{
    border-radius: 5px;
}

.delete{
    font-size: 25px;
}